* {
    box-sizing: border-box;
}
html {
    display: flex;
    justify-content: center;
}

body {
    font-family: "Karla", sans-serif;
    color: #293264;
    background-color: #f5f7fb;
    max-width: 800px;
}

.answers {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem;
}

.answer {
    background-color: transparent;
    border: 1px solid #4d5b9e;
    border-radius: 8px;
    padding: 4px 20px;
}

.answer:disabled {
    color: #293264;
}

.btn-check {
    border: none;
    color: #f5f7fb;
    padding: 9px 14px;
    background: #4d5b9e;
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    margin-top: 20px;
}

.score {
    margin: 0;
    font-weight: bold;
}

.start__screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.start__logo {
    height: 200px;
}

.start__title {
    font-size: 60px;
    margin: 20px;
}

.start__subtitle {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 20px;
}

.start__button {
    border: none;
    color: #f5f7fb;
    padding: 15px 20px;
    background: #4d5b9e;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.question {
    padding-bottom: 10px;
    border-bottom: 1px solid #293264;
}
